Pods
*.xcworkspacedata
dailyattendancemanagement.xcworkspace/xcshareddata
dailyattendancemanagement.xcworkspace/xcuserdata/changyeolseo.xcuserdatad/xcdebugger
dailyattendancemanagement.xcworkspace/xcuserdata
