<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1089378143230-hi7lnj54vql9f1dtraojqng12okli0a8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1089378143230-hi7lnj54vql9f1dtraojqng12okli0a8</string>
	<key>API_KEY</key>
	<string>AIzaSyBBhkmCO0acCwQLY9q90Zc0JmkmRxxwySw</string>
	<key>GCM_SENDER_ID</key>
	<string>1089378143230</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>net.kongbaguni.dailyattendancemanagement</string>
	<key>PROJECT_ID</key>
	<string>dailyattendancemanagement</string>
	<key>STORAGE_BUCKET</key>
	<string>dailyattendancemanagement.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1089378143230:ios:e8c455a55eac355ceb0eaf</string>
</dict>
</plist>